@font-face {
  font-family: ARCO;
  src: url('ARCO.ttf');
}

@keyframes rotate-icon {
	0% {rotate: 0deg;}
	25% {rotate: 90deg;}
	50% {rotate: 180deg;}
	75% {rotate: 270deg;}
	100% {rotate: 0deg;}
}

body {
	cursor: url(default.cur), auto;
	margin: 0;
	background-color: #546A5B;
}

#main-title-div {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2C3930;
}

#main-title-div:hover #main-title {
	letter-spacing: .25rem;
}

#main-logo {
	width: 2.3rem;
	height: 2.3rem;
	padding: .5rem .5rem;
}

#main-title, #cover-title {
	all: unset;
	padding: .5rem 0;
	display: inline-block;
	font-family: 'Courier New', monospace;
	font-size: 2rem;
	color: #739e81;
	transition-duration: .2s;
}

#title-decorator {
	width: 100%;
	padding: .3rem 0;
	background-color: #3F4F44;
	display: block;
}

#cover {
	width: 100%;
	height: 100%;
	background-color: #2C3930;
/*	background: linear-gradient(180deg,rgba(44, 57, 48, 1) 35%, rgba(69, 107, 81, .9) 100%);*/
	opacity: 1;
	position: fixed;
	top: 0;
	display: block;
	top: 0;
	z-index: 1000;
	transition-duration: .5s;
}

#title-cover-container {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#spinning-logo {
	width: 10rem;
	height: 10rem;
	animation-name: rotate-icon;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	display: block;
}

#cover-title {
	display: block;
	font-size: 3rem;
	padding: 1.5rem;
	position: absolute;
	bottom: 0;
}

.hidden-cover {
/*	height: 0!important;*/
	opacity: 0!important;
	z-index: -1;
}

#main-title-container {
	position: sticky;
	top: 0;
	width: 100%;
	height: auto;
	z-index: 1;
}

#divider {/*
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	width: calc(100% - 7rem);
	height: calc(100% - 10.9rem);
	position: fixed;
	align-items: center;
	justify-items: center;
	grid-gap: 2.5rem;
	padding: 3.5rem;*/
	display: block;
	padding-top: .2rem;
}

.list-item {
	padding: .2rem 0;
}

.main-links {
	all: unset;
	display: flex;
/*	justify-content: center;*/
    align-items: center;
    width: calc(100% - 2rem);
/*    height: 100%;*/
	height: 2rem;
    position: relative;
    text-align: center;
    font-family: 'ARCO', 'Courier New', monospace;
    font-weight: 700;
    color: #3F4F44;
    background-color: #647e6c;
    font-size: 1rem;
    text-transform: uppercase;
/*    border-radius: 15px;*/
    letter-spacing: .5rem;
    transition-duration: .2s;
    padding: .5rem 1rem;
}

a.main-links {
	cursor: url(default.cur), auto;
}

.main-links:hover {
	color: #c5d7cb;
}

.main-links img {
	height: 100%;
	position: absolute;
	right: 1rem;
	rotate: 270deg;
	filter: invert(50%);
	mix-blend-mode: multiply;
	transition-duration: .2s;
}

.main-links:hover img {
	filter: invert(100%);
	mix-blend-mode: lighten;
}

button.main-links:hover img {
	rotate: 360deg;
}

.list-item ul {
	margin: 0;
	padding: 1rem 0 1rem 2.5rem;
	background-color: #DCD7C9;
    height: 100%;
    transition-duration: .2s;
    overflow: hidden;
}

.list-item ul li {
	list-style-type: none;
}

.list-item ul li a {
	text-decoration: none;
    font-family: 'Courier New', monospace;
    font-size: 1.2rem;
	color: #3F4F44;
    font-weight: 550;
    width: 100%;
    display: block;
    transition-duration: .2s;
	cursor: url(link.cur), auto;
}

.list-item ul li:hover a {
    color: #647e6c;
	letter-spacing: .1rem;
	cursor: url(link.cur), auto;
}

.hidden-list {
/*	display: none;*/
	padding: 0 0 0 2.5rem !important;
	height: 0 !important;
}

.hidden-list li {
/*	display: none;*/
	height: 0 !important;
	padding: 0;
	margin: 0;
	transition-duration: .2s;
}